.wrapper{
  width: 100%;
  max-width: 1440px;
 
}
.container{
  margin: 0 auto;
}
.first-section{
  margin-top:0 auto;
  /* background-image:url('../../1.png') */
}
.stepss{
  background-image:url('../../1.png')
}